<!DOCTYPE html>
<html>
<head>
  <title>News India</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  	<meta name="robots" content="nofollow">
	<meta name="googlebot" content="noindex">
</head>
<body>

<%= yield %>

<!-- hitwebcounter Code START -->
<a href="http://www.hitwebcounter.com" target="_blank">
<img src="http://hitwebcounter.com/counter/counter.php?page=6173195&style=0001&nbdigits=9&type=ip&initCount=0" title="Free track counters" Alt="Free track counters"   border="0" >
</a>                                        <br/>
                                        <!-- hitwebcounter.com --><a href="http://www.hitwebcounter.com" title="Lovely Counter" 
                                        target="_blank" style="font-family: Arial, Helvetica, sans-serif; 
                                        font-size: 10px; color: #707173; text-decoration: none ;"><em>Lovely Counter                                        </em>
                                        </a>   
                            
</body>
</html>
